.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-home {
  background-color: f0f0f0;
  margin: 10px;
  padding: 0 10px;
  width: 300px;
  border: solid 1px black;
  border-radius: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.totals-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.total-box {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  min-width: 130px;
  white-space: nowrap; /* Empêche le retour à la ligne */
}

.graphic-pie {
  width: 100%;
  max-width: 500px; /* Limit the maximum width */
  margin: auto;
  display: flex;
  justify-content: center;
}

canvas {
  width: 100% !important; /* Ensure canvas resizes with its container */
  height: auto !important; /* Maintain aspect ratio */
}
.graphic-pie canvas:hover {
  cursor: pointer;
}
/* Media queries for further customization */

@media (max-width: 425px) {
  .totals-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .total-box {
    margin: 3px;
    font-size: 0.9em;
    height: auto;
  }
  h2 {
    font-size: 1.3em;
  }
}
